$primary: #efb6b2;
$secondary: #4e4e4e;
$error: #ff4a4a;
.title {
  h1 {
      color: $primary;
      margin-bottom: 2rem;
      font-size: 2rem;
  }
  h3 {
      text-align: center;
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 1rem;
  }
  p {
      color: $secondary;
      text-align: center;
  }
}
